html, body, #map {
    height: 100%;
    margin: 0px;
    padding: 0px
}

/* Override */
#map {
    /*width: 800px;
    height: 600px;*/
}

/* Style for the info window */
.infowindowcontent {
    width: 400px;
    height: 200px;
}

.infowindowcontent h1 {
    color: red;
}

.infowindowaddress {
    font-weight: bold;
}